<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">

            <li ui-sref-active="active">
                <a ui-sref="admin.index">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="admin.patientList">
                    <i class="fa fa-user"></i> <span>Patient</span>
                </a>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="admin.doctorList">
                    <i class="fa fa-user"></i> <span>Doctor</span>
                </a>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="admin.staffList">
                    <i class="fa fa-user"></i> <span>Staff</span>
                </a>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="admin.cmslist">
                    <i class="fa fa-bolt"></i> <span>Cms</span>
                </a>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="admin.faqlist">
                    <i class="fa fa-question"></i> <span>FAQ</span>
                </a>

            </li>
            <!--<li ui-sref-active="active">
                <a ui-sref="admin.doctoravailability">
                    <i class="fa fa-user-md"></i> <span>Doctor Availability</span>
                </a>

            </li>-->
            <li ui-sref-active="active">
                <a ui-sref="admin.questionnaire">
                    <i class="fa fa-question-circle-o"></i> <span>Questionnare</span>
                </a>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="admin.sliderList">
                    <i class="fa fa-picture-o"></i> <span>Slider Images</span>
                </a>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="admin.healthPackageList">
                    <i class="fa fa-heart"></i> <span> Subscription Packages</span>
                </a>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="admin.appointmentList">
                    <i class="fa fa-briefcase"></i> <span> Appointment List</span>
                </a>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="admin.paymentList">
                    <i class="fa fa-money"></i> <span> Payment List</span>
                </a>

            </li>

        </ul>
    </section>

</aside>