<section class="footer-bottom py-2">
		<ul class="nav justify-content-center">
		  <li class="nav-item">
		    <a class="nav-link" href="#/cms/1">About us</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#/cms/9">Legal details</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#/cms/6">Data Privacy Policy</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#/cms/7">FAQ / Help</a>
		  </li>
		</ul>
		<span>copyright 2018 GMT24 All right reserved.</span>
	</section>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title mx-auto" id="exampleModalLabel">Sign UP</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form name="registerForm" ng-submit="registerForm.$valid && signup(user)" novalidate>
	        <div class="form-group text-center">
	        		 <label for="name">as a:</label>
	        </div>
	        <div class="form-group">
		        	<div class="row">
			        	<div class="col-md-6">
			        		<!--<button class="btn btn-block btn-primary">Vendor</button>-->
			        		<div class="btn btn-block btn-primary position-relative cust-radio">
			        			<input type="radio" value="2" ng-model="user.type" name="type" class="position-absolute" required>
			        			<span>Vendor</span>
			        		</div>
			        	</div>
			        	<div class="col-md-6">
			        		<!--<button class="btn btn-block btn-primary">User</button>-->
			        		<div class="btn btn-block btn-primary position-relative cust-radio">
			        			<input type="radio" value="1" ng-model="user.type" name="type" class="position-absolute" required>
                                                         <span>User</span>
                                                       
			        		</div>
                                                
			        	</div>
                                    <span style="color:Red" ng-show="registerForm.type.$error.required"> Please Choose Vendor or User </span>
                                    
                                        
                                    
		        </div>
                                    <span><div ng-if="user.type == '1'">SignUp as a User</div></span>
                                    <span><div ng-if="user.type == '2'">SignUp as a Vendor</div></span>
                    
                    </div>
                    
                   
                    
			  <div class="form-group">
			    <label for="name">First Name</label>
			    <input type="text" class="form-control" id="name" aria-describedby="name" ng-pattern="/^[a-z A-Z]+$/" placeholder="Enter First name" ng-model="user.fname" name="fname" required >
                            <span style="color:Red" ng-show="registerForm.fname.$error.required">  </span>

                            <span style="color:Red" ng-show="registerForm.fname.$dirty && registerForm.fname.$error.pattern">Only Letters Allowed</span>
			  </div>
                    <div class="form-group">
			    <label for="name">Last Name</label>
			    <input type="text" class="form-control" id="name" aria-describedby="name" ng-pattern="/^[a-z A-Z]+$/" placeholder="Enter last name" ng-model="user.lname" name="lname" required>
                            <span style="color:Red" ng-show="registerForm.lname.$error.required">  </span>

                            <span style="color:Red" ng-show="registerForm.lname.$dirty && registerForm.lname.$error.pattern">Only Letters Allowed</span>
			  </div>
			  <div class="form-group">
			    <label for="number">Mobile</label>
			    <input type="text" class="form-control" id="number" placeholder="Mobile number" ng-pattern="/^\d+$/" name="phone" ng-model="user.phone" required>
                            <span style="color:Red" ng-show="registerForm.phone.$error.required">  </span>

                            <span style="color:Red" ng-show="registerForm.phone.$dirty && registerForm.phone.$error.pattern">Only Numbers Allowed</span>
			  </div>
			  <div class="form-group">
			    <label for="email">Email</label>
			    <input type="email" class="form-control" id="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="Enter email" name="email" ng-model="user.email" required>
                            <span style="color:Red" ng-show="registerForm.email.$error.required">  </span>
                            <span style="color:Red" ng-show="registerForm.email.$dirty && registerForm.email.$error.pattern">Enter valid emailid</span>
			  </div>
			<div class="form-group">
			    <label for="attachment">Password</label>
			    <input type="password" class="form-control" ng-pattern="/^.{6,}$/" name="password" id="attachment" placeholder="Password" ng-model="user.password" required>
                            <span style="color:Red" ng-show="registerForm.password.$error.required">  </span>
                            <span style="color:Red" ng-show="registerForm.password.$dirty && registerForm.password.$error.pattern">Atleast 6 character nedded</span>
			  </div>
			  <div class="form-check form-group">
			    <input type="checkbox" class="form-check-input" ng-model="selectVal" id="exampleCheck1" name="exampleCheck1" required>
                            <label class="form-check-label" for="exampleCheck1">I accept terms & Conditions</label></br>
                            <span style="color:Red" ng-show="registerForm.exampleCheck1.$error.required"> (Please accept terms & Conditions) </span>
                           
                           
                            
			  </div>
			  <div class="form-group">
			  	<button type="submit" ng-if="loader" ng-click="checkoptions()" class="btn btn-block btn-primary" ng-disabled="registerForm.$invalid">Register</button>
                                <div  ng-if="!loader" class="loaderfooter"></div>
			  </div>
			</form>
			<p class="or">OR</p>
			<ul class="social-login">
				<li class="facebook"><a class="fa fa-facebook"></a></li>
				<li class="googleplus"><a class="fa fa-google-plus"></a></li>
			</ul>
			<div class="footer">
				<p>Already have account? <a href="#" data-toggle="modal" data-target="#login" data-dismiss="modal">Sign In</a></p>
			</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title mx-auto" id="exampleModalLabel">LOGIN</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form name="loginForm" ng-submit="login(user)" novalidate>	        
			  <div class="form-group">
			    <label for="name">Email Address</label>
			    <input type="text" class="form-control" id="name" aria-describedby="name" ng-model="user.email" placeholder="Enter name">
			  </div>
			  <div class="form-group">
			    <label for="number">Password</label>
			    <input type="password" class="form-control" id="number" placeholder="Password" ng-model="user.password">
			  </div>
			  <div class="form-check form-group">
			    <input type="checkbox" class="form-check-input" id="exampleCheck2">
			    <label class="form-check-label" for="exampleCheck2">Remember me</label>
			    <a href="#" data-toggle="modal" data-target="#forget" data-dismiss="modal" class="forgot-password pull-right">Forgot password ?</a>
			  </div>
			  <div class="form-group">
			  	<button type="submit" class="btn btn-block btn-primary" ng-disabled="loginForm.$invalid">Sign In</button>
			  </div>
                    
                        <div class="form-group">
                            <a   class="btn btn-block btn-primary" href="#" data-toggle="modal" data-target="#loginvendor" data-dismiss="modal">Vendor Login</a>
			  </div>
			</form>
			<p class="or">OR</p>
			<ul class="social-login">
				<li class="facebook"><a class="fa fa-facebook"></a></li>
				<li class="googleplus"><a class="fa fa-google-plus"></a></li>
			</ul>
			<div class="footer">
				<p>Dont have an account? <a href="#" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal">Sign Up</a></p>
			</div>
	      </div>
	    </div>
	  </div>
	</div>



	<div class="modal fade" id="loginvendor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title mx-auto" id="exampleModalLabel">Vendor Login</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form name="loginForm" ng-submit="login(user)" novalidate>	        
			  <div class="form-group">
			    <label for="name">Email Address</label>
			    <input type="text" class="form-control" id="name" aria-describedby="name" ng-model="user.email" placeholder="Enter name">
			  </div>
			  <div class="form-group">
			    <label for="number">Password</label>
			    <input type="password" class="form-control" id="number" placeholder="Password" ng-model="user.password">
			  </div>
			  <div class="form-check form-group">
			    <input type="checkbox" class="form-check-input" id="exampleCheck2">
			    <label class="form-check-label" for="exampleCheck2">Remember me</label>
			    <a href="#" data-toggle="modal" data-target="#forget" data-dismiss="modal" class="forgot-password pull-right">Forgot password ?</a>
			  </div>
			  <div class="form-group">
			  	<button type="submit" class="btn btn-block btn-primary" ng-disabled="loginForm.$invalid">Sign In</button>
			  </div>
                    
                        
			</form>
			<p class="or">OR</p>
			<ul class="social-login">
				<li class="facebook"><a class="fa fa-facebook"></a></li>
				<li class="googleplus"><a class="fa fa-google-plus"></a></li>
			</ul>
			<div class="footer">
				<p>Dont have an account? <a href="#" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal">Sign Up</a></p>
			</div>
	      </div>
	    </div>
	  </div>
	</div>




	<div class="modal fade" id="forget" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title mx-auto" id="exampleModalLabel">Forget Password</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form name="forgetForm" ng-submit="forget(user)" novalidate>	        
			  <div class="form-group">
			    <label for="name">Email Address</label>
			    <input type="email" class="form-control" id="name" aria-describedby="name" ng-model="user.email" placeholder="Enter email">
			  </div>
			  
			  
			  <div class="form-group">
			  	<button type="submit" class="btn btn-block btn-primary" ng-disabled="forgetForm.$invalid">Send</button>
			  </div>
			</form>
			
	      </div>
	    </div>
	  </div>
	</div>




<style>
.loaderfooter {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>