<nav class="navbar navbar-inverse">
			<div class="container">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="#/home">Home</a></li>             
					<li><a href="#/cms/16">About Us</a></li>
					<!--<li class="dropdown"><a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
					<ul class="dropdown-menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		         </ul>					
					</li>-->
					 <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles <span class="caret"></span></a>
					<ul class="dropdown-menu">
					<li ng-repeat="categorylistsarticle in categorylistArticle"><a href="#/articleList/{{categorylistsarticle.id}}">{{categorylistsarticle.name}}</a></li>
		           <!--  <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li> -->
		         </ul>					
					</li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
					<ul class="dropdown-menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		         </ul>					
					</li>
					 <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery <span class="caret"></span></a>
					<ul class="dropdown-menu">
		            <li ng-repeat="categorylists in categorylist"><a href="#/gallery/{{categorylists.id}}">{{categorylists.name}}</a></li>
		            <!--<li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>-->
		         </ul>					
					</li>
					<li><a href="#/contact_us">Contact</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
					<li  ng-if="current_user_login!='1'"><a href="#/login"><i class="ion-android-lock"></i> Login</a></li>             
					<li  ng-if="current_user_login!='1'"><a href="#/signup">Sign up</a></li>
					<li  ng-if="current_user_login=='1'" class="notification-icon"><a href="#/notifications"><i class="ion-android-notifications"></i> <span>{{noti_count}}</span></a></li>  
                    <li  ng-if="current_user_login=='1'"><a href="#/my_account">My Account</a></li>             
					<li  ng-if="current_user_login=='1'"><a  style="cursor:pointer" ng-click="logout();">Logout</a></li>
                    
		      </ul>
  			</div>
		</nav>
	