<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-12">
						<h3>About Us</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>						
					</div>
					<div class="col-md-3 col-sm-4">
						<h3>Categories</h3>
						<ul>
							<li><a href="">Swedish</a></li>
							<li><a href="">Deep Tissue</a></li>
							<li><a href="">Prenatal</a></li>
							<li><a href="">Therapeutic</a></li>
						</ul>			
					</div>
					<div class="col-md-3 col-sm-4">
						<h3>Usefull Links</h3>
						<ul>
							<li><a href="">For Business </a></li>
							<li><a href="">Gifts</a></li>
							<li><a href="">Become a 7SEVEN therapist</a></li>
						</ul>
						<h3>Contact</h3>
						<a href="" class="mail">info@7sevenpro.com</a>
					</div>
					<div class="col-md-3 col-sm-4">
						<h3>News Letter</h3>
						<p>Stay in the loop on all upcoming	promotions,discounts and latest updates</p>
						<form class="input-group">
							<input type="text" class="form-control"/>
							<button class="btn btn-sm btn-default">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</footer>