<section ng-init="auctionList()">
	<section class="profile signUp">
		<div class="container">
			<div class="row">
				<div class="col-sm-4" >
					
                                    <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
                                    
				</div>

                            
                            
                            
                            
<div class="col-sm-8">
        <div class="RHS">
                <div class="well">
                        <div class="mdl">
                        <h2>My Auction List</h2>
                        <div class="listingProfile">
                                <div class="table-responsive">          
                                  <table class="table .table-striped">
                                    <thead>
                                      <tr>
                                        <th class="profImgTd">Profile</th>
                                        <th>Description</th>
                                        <th class="action">Action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr ng-repeat="auction in all_auction">
                                        <td class="profImgTd">
                                                <div class="profImg">
                                                        <!--<img src="app/assets/images/images10.jpg"/>-->
                                                        <img src="{{auction.image}}"/>
                                                        
                                                </div>
                                        </td>
                                        <td>
                                                <div class="name">{{auction.title}}</div>
                                                <div>{{auction.description}}</div>
                                                <div>Price: ${{auction.price}}</div>
                                        </td>
                                        <td class="action">
                                                <a ng-click="removeAuction(auction.auction_id)" ng-confirm-click="Are you sure to Delete" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                <a href="#/editauction/{{auction.auction_id}}" class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        </td>
                                      </tr>
                                      <!--<tr>
                                        <td class="profImgTd">
                                                <div class="profImg">
                                                        <img src="app/assets/images/images10.jpg"/>
                                                </div>
                                        </td>
                                        <td>
                                                <div class="name">Jone Stive</div>
                                                <div>Stockholm, UK</div>
                                                <div>Age: 25</div>
                                        </td>
                                        <td class="action">
                                                <a href="#" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                <a href="#" class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        </td>
                                      </tr>-->
                                    </tbody>
                                  </table>
                                </div>
                        </div>
                </div>
                </div>
        </div>
</div>                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
			</div>
		</div>
	</section>
</section>