<section>
	<div class="container">
		<div class="dtlHd">
			<img src="app/assets/images/details_cover.jpg" >
			<div class="txt">
				<h3>Choose Your Plan Below</h3>
			</div>
		</div>		
	</div>
</section>

<section>
	<div class="container">
		<div class="package">
			<div class="row">
                            
                            
                            
			<div class="col-sm-4" ng-repeat="allpp in PlanListing">
				<div class="well">
						<h2>{{allpp.plan_name}}</h2>
						<img src="{{allpp.plan_image}}"/>
						<div class="price">${{allpp.price}}</div>
						<div class="renew">{{allpp.duration}}</div>						
                                                <span ng-bind-html="allpp.page_content"></span>
						<div class="payBtn">
                                                    <a ng-if="current_user_login=='1'" ng-click="getpaydetails(allpp.id,allpp.price)"><button class="btn btn-success btn-block">Pay Now</button></a>
						</div>
				</div>
			</div>
                            
                            
                            
                            
                            
                            
                        <!--<div class="col-sm-4">
					<div class="well">
						<h2>Silver</h2>
						<img src="app/assets/images/details3.jpg"/>
						<div class="price">$200</div>
						<div class="renew">per month</div>
						<ul class="list-group">
							<li class="list-group-item">Unlimited Classes</li>
							<li class="list-group-item">Weekty Yaga</li>
							<li class="list-group-item">Private Facebook Group</li>
							<li class="list-group-item">Gear Discount</li>
							<li class="list-group-item">Weekly Meat Plan</li>
							<li class="list-group-item disable">Weekly 1 on 1 Coaching</li>
							<li class="list-group-item disable">Personal Accountability Coach</li>
						</ul>
						<div class="payBtn">
                                                    <a ng-if="current_user_login=='1'" ng-click="getpaydetails('2','200')"><button class="btn btn-success btn-block">Pay Now</button></a>
						</div>
				</div>
			</div>
			<div class="col-sm-4">
					<div class="well">
						<h2>Gold</h2>
						<img src="app/assets/images/details2.jpg"/>
						<div class="price">$300</div>
						<div class="renew">per month</div>
						<ul class="list-group">
							<li class="list-group-item">Unlimited Classes</li>
							<li class="list-group-item">Weekty Yaga</li>
							<li class="list-group-item">Private Facebook Group</li>
							<li class="list-group-item">Gear Discount</li>
							<li class="list-group-item">Weekly Meat Plan</li>
							<li class="list-group-item">Weekly 1 on 1 Coaching</li>
							<li class="list-group-item">Personal Accountability Coach</li>
						</ul>
						<div class="payBtn">
                                                    <a ng-if="current_user_login=='1'" ng-click="getpaydetails('3','300')"><button class="btn btn-success btn-block">Pay Now</button></a>
						</div>
				</div>
			</div>-->
                            
                            
                            
                            
		</div>
	</div>
	</div>
</section>