<section>
	<section class="profile signUp">
		<div class="container">
			<div class="row">
				
<div class="col-sm-12">
    <div class="RHS">
        <div class="well">
        <div class="mdl">
        <h2>Failure</h2>
          
          
           
            
        <center> <h3><p>Payment Failed.</p></h3></center>
        
          

              
              
              
              
            
            
            
          
        </div>
        </div>
    </div>
</div>

			</div>
		</div>
	</section>
</section>