<section class="expert">		
            <div class="expert-child-left"></div>
            <div class="expert-child-right login-section">
                    <h2>User Log In </h2>
                    <div class="row">
                            <div class="col-md-6">
                                    <form>
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                        <a class="forgot-password">Forgot password?</a>
                                      </div>
                                      <div class="checkbox">
                                        <label>
                                          <input type="checkbox"> Remember me
                                        </label>
                                      </div>

                                      <button type="submit" class="btn btn-sm btn-primary">signin now</button>
                                    </form>	
                            </div>
                            <div class="col-md-6">
                                    <div class="sociallogin">
                                            <p>Or login with social media</p>
                                            <button class="btn" style="background: #0054a6"><i class="fa fa-facebook"></i>Log In With Facebook</button>
                                            <button class="btn" style="background: #f0242b"><i class="fa fa-google-plus"></i>Log In With Google plus</button>
                                    </div>
                            </div>
                    </div>					
            </div>
</section>
<section class="download-app2">
        <div class="container">
                <h2>Download the 7SEVEN Massage <br/>app</h2>
                <p>Effortlessly book a massage from your phone.</p>
                <ul>
                        <li><a href=""><img src="app/assets/images/googlepay.png" alt="" /></a></li>
                        <li><a href=""><img src="app/assets/images/appstore.png" alt="" /></a></li>
                </ul>		
        </div>
</section>