<section>
	<section class="profile signUp">
		<div class="container">
			<div class="row">
				<div class="col-sm-4" >
					
                                    <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
                                    
				</div>
<div class="col-sm-8">
    <div class="RHS">
        <div class="well">
        <div class="mdl">
        <h2>Add New Gym</h2>
          <form class="form-horizontal" ng-submit="addGym(user)">
            <div class="form-group">
              <label class="control-label col-sm-4">Gym Name:</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" name="name" placeholder="Gym Name" ng-model="user.name" required="required">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Gym Description:</label>
              <div class="col-sm-8">
                  <textarea class="form-control" name="description" placeholder="Gym Description" ng-model="user.description" required="required">
                  </textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Email:</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" name="email" placeholder="Contact Email" ng-model="user.email" required="required">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Phone Number:</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Phone Number" name="phone" ng-model="user.phone" required="required">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Price/Day:</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Enter your Gym Price" name="price" ng-model="user.price" required="required">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Address:</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Address" name="address" ng-model="user.address" >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Opening Time (Sunday):</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Enter Gym Timing" name="sundaytime" ng-model="user.sundaytime" >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Opening Time (Monday):</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Enter Gym Timing" name="mondaytime" ng-model="user.mondaytime" >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Opening Time (Tuesday):</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Enter Gym Timing" name="tuesdaytime" ng-model="user.tuesdaytime" >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Opening Time (Wednesday):</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Enter Gym Timing" name="wednesdaytime" ng-model="user.wednesdaytime" >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Opening Time (Thursday):</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Enter Gym Timing" name="thursdaytime" ng-model="user.thursdaytime" >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Opening Time (Friday):</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Enter Gym Timing" name="fridaytime" ng-model="user.fridaytime" >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Opening Time (Saturday):</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Enter Gym Timing" name="saturdaytime" ng-model="user.saturdaytime" >
              </div>
            </div>
              
            
            
            <div class="form-group">        
              <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-danger btn-lg">Save</button>
              </div>
            </div>
          </form>
        </div>
        </div>
    </div>
</div>
			</div>
		</div>
	</section>
</section>