<section>
	<div class="plan">
		<h1>Choose your plan in 
		<div class="dropdown">
		  <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">Austin <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		  </ul>
		</div>
	</h1>
	<h4>Get started with one of these options</h4>
	<div class="threeDivider">
		<div class="row">
			<div class="col-md-4">
				<a class="well" href="#">
					<h5>Go</h5>
					<div class="mber">3 <span>classes</span></div>
					<div class="btn btn-block btn-defult">Select</div>
					<div class="mber price">US$45<span>per month</span></div>
					<div class="ftr">Visit any studio up to 1x</div>
				</a>
			</div>
			<div class="col-md-4">
				<a class="well" href="#">
					<h5>Base</h5>
					<div class="mber">3 <span>classes</span></div>
					<div class="btn btn-block btn-defult">Select</div>
					<div class="mber price">US$45<span>per month</span></div>
					<div class="ftr">Visit any studio up to 1x</div>
				</a>
			</div>
			<div class="col-md-4">
				<a class="well" href="#">
					<h5>Core</h5>
					<div class="mber">3 <span>classes</span></div>
					<div class="btn btn-block btn-defult">Select</div>
					<div class="mber price">US$45<span>per month</span></div>
					<div class="ftr">Visit any studio up to 1x</div>
				</a>
			</div>
		</div>
		<div class="lastFtr">No matter which plan you choose, you can switch it up or cancel at any time.</div>
	</div>
	</div>
</section>
<section style="background: #fff;">
	<div class="container">
	<div class="dataOfr">
		<div class="row">
			<div class="col-md-6">
				<div class="img">
					<img src="app/assets/images/images10.png"/>
				</div>
			</div>
			<div class="col-md-6">
			<div class="txt">
				<h3>Work out anywhere</h3>
				<p class="cnt">Jetsetters can stay active wherever they are. Your membership lets you work out when you travel in any of our 39 cities worldwide.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="dataOfr">
		<div class="row">
			<div class="col-md-6">
				<div class="txt">
				<h3>Work out anywhere</h3>
				<p class="cnt">Jetsetters can stay active wherever they are. Your membership lets you work out when you travel in any of our 39 cities worldwide.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="img">
					<img src="app/assets/images/images12.png"/>
				</div>
			</div>
		</div>
	</div>
	<div class="dataOfr">
		<div class="row">
			<div class="col-md-6">
				<div class="img">
					<img src="app/assets/images/images10.png"/>
				</div>
			</div>
			<div class="col-md-6">
			<div class="txt">
				<h3>Work out anywhere</h3>
				<p class="cnt">Jetsetters can stay active wherever they are. Your membership lets you work out when you travel in any of our 39 cities worldwide.</p>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>

<section style="background: #fff;">
	<div class="container">
	<hr />
		<div class="row">
			<div class="col-sm-4">
				<div class="itm">
					<img src="app/assets/images/images11.png"/>
					<h5>Add on classes</h5>
					<p>Easily purchase additional classes if you need more in your monthly cycle, or if you want to visit your favorite studio again.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="itm">
					<img src="app/assets/images/images11.png"/>
					<h5>Add on classes</h5>
					<p>Easily purchase additional classes if you need more in your monthly cycle, or if you want to visit your favorite studio again.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="itm">
					<img src="app/assets/images/images11.png"/>
					<h5>Add on classes</h5>
					<p>Easily purchase additional classes if you need more in your monthly cycle, or if you want to visit your favorite studio again.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section style="background: #233259">
	<div class="container">
		<h3 class="qsnAnsHdr">You have questions,  we have answers</h3>
		<div class="row">
			<div class="col-sm-4">
				<div class="qsnAns">
					<h5>Canceling class</h5>
					<p>Plans change? No sweat. Cancel most classes at least 12 hours in advance with no penalty. After that, late cancellation and no-show fees vary by plan.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="qsnAns">
					<h5>Canceling class</h5>
					<p>Plans change? No sweat. Cancel most classes at least 12 hours in advance with no penalty. After that, late cancellation and no-show fees vary by plan.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="qsnAns">
					<h5>Canceling class</h5>
					<p>Plans change? No sweat. Cancel most classes at least 12 hours in advance with no penalty. After that, late cancellation and no-show fees vary by plan.</p>
				</div>
			</div>
		</div>
		<div class="qAftr"><div>Need more details?</div>
			<a href="#" class="link-color">Head over to our help center</a>
		</div>
	</div>
</section>