<section>
	<section class="profile signUp">
		<div class="container">
			<div class="row">
				<div class="col-sm-4" >
					<div class="LHS">
						<div class="well">
							<div class="hdrPart">
								<div class="img">
									<img src="app/assets/images/images10.jpg"/>
								</div>
								<p class="name">Monica Dsouza</p>
								<p class="loc"><i class="fa fa-map-marker" aria-hidden="true"></i> California, USA</p>	
							</div>
							<ul class="sattings_menu">
								<li><a href="#" class="active">Edit Profile</a></li>
								<li class="divider"><a href="#">Change Password</a></li>
								<li><a href="#">Settings</a></li>
								<li><a href="#">Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="RHS">
						<div class="well">
							<div class="mdl">
							<h2>Profile List</h2>
							<div class="listingProfile">
								<div class="table-responsive">          
								  <table class="table .table-striped">
								    <thead>
								      <tr>
								        <th class="profImgTd">Profile</th>
								        <th>Description</th>
								        <th class="action">Action</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
								        <td class="profImgTd">
								        	<div class="profImg">
								        		<img src="app/assets/images/images10.jpg"/>
								        	</div>
								        </td>
								        <td>
									        <div class="name">Jone Stive</div>
									        <div>Stockholm, UK</div>
									        <div>Age: 25</div>
								        </td>
								        <td class="action">
								        	<a href="#" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
								        	<a href="#" class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								        </td>
								      </tr>
								      <tr>
								        <td class="profImgTd">
								        	<div class="profImg">
								        		<img src="app/assets/images/images10.jpg"/>
								        	</div>
								        </td>
								        <td>
									        <div class="name">Jone Stive</div>
									        <div>Stockholm, UK</div>
									        <div>Age: 25</div>
								        </td>
								        <td class="action">
								        	<a href="#" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
								        	<a href="#" class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								        </td>
								      </tr>
								    </tbody>
								  </table>
								</div>
							</div>
							<div class="listingProfile">
								<div class="table-responsive">          
								  <table class="table .table-striped">
								    <thead>
								      <tr>
								        <th>Profile</th>
								        <th>Description</th>
								        <th class="action">Action</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
								        <td>
								        	<div class="name">Jone Stive</div>
								        </td>
								        <td>
									        
									        <div>Stockholm, UK</div>
									        <div>Age: 25</div>
								        </td>
								        <td class="action">
								        	<a href="#" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
								        	<a href="#" class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								        </td>
								      </tr>
								      <tr>
								        <td>
								        	<div class="name">Jone Stive</div>
								        </td>
								        <td>
									        
									        <div>Stockholm, UK</div>
									        <div>Age: 25</div>
								        </td>
								        <td class="action">
								        	<a href="#" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
								        	<a href="#" class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								        </td>
								      </tr>
								    </tbody>
								  </table>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>