<section >
	<div class="search-map">
		<div class="row">
			<div class="col-md-6 padding-right-0">
				<form>
				<h4><i class="fa fa-filter"></i> Filter</h4>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
						 <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						 <div class="col-sm-10">
						   <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
						 </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
						 <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						 <div class="col-sm-10">
						   <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
						 </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
						 <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						 <div class="col-sm-10">
						   <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
						 </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
						 <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						 <div class="col-sm-10">
						   <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
						 </div>
						</div>
					</div>
				</div>
				</form>
				<ul class="map-list">
					<li>
						<h3>Fine Fitness Price <span>$50</span></h3>
						<img src="http://111.93.169.90/team1/getfitpass/upload/gym/1503577581Gym_2-xlarge_trans_NvBQzQNjv4BqgsaO8O78rhmZrDxTlQBjdGcv5yZLmao6LolmWYJrXns.jpg" class="img-responsive">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p>
						
					</li>
					<li>
						<h3>Fine Fitness Price <span>$50</span></h3>
						<img src="http://111.93.169.90/team1/getfitpass/upload/gym/1503577581Gym_2-xlarge_trans_NvBQzQNjv4BqgsaO8O78rhmZrDxTlQBjdGcv5yZLmao6LolmWYJrXns.jpg" class="img-responsive">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p>
						
					</li>
					<li>
						<h3>Fine Fitness Price <span>$50</span></h3>
						<img src="http://111.93.169.90/team1/getfitpass/upload/gym/1503577581Gym_2-xlarge_trans_NvBQzQNjv4BqgsaO8O78rhmZrDxTlQBjdGcv5yZLmao6LolmWYJrXns.jpg" class="img-responsive">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p>
						
					</li>
					<li>
						<h3>Fine Fitness Price <span>$50</span></h3>
						<img src="http://111.93.169.90/team1/getfitpass/upload/gym/1503577581Gym_2-xlarge_trans_NvBQzQNjv4BqgsaO8O78rhmZrDxTlQBjdGcv5yZLmao6LolmWYJrXns.jpg" class="img-responsive">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p>
						
					</li>
				</ul>
				
			</div>
			<div class="col-md-6 padding-left-0">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.0118294612216!2d88.41515681495967!3d22.57866088517973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0275c7ca56f5cd%3A0xe6a6ae067e750922!2sIFrames!5e0!3m2!1sen!2sin!4v1504697548770" width="100%" height="700px" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>
