<style>
.ovr {
    text-decoration: line-through;
}    
</style>
	<section class="innerbody">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">Add Product</h5>
					<div class="edit-pro p-3">
						<div class="row">
							<div class="col-lg-7 col-md-12">
								<form name="addProductForm" ng-submit="addProductForm.$valid && addProduct(user2)" novalidate>


									<div class="form-group">
										<label for="staticEmail">Please Select</label>
										 <select class="form-control" id="cobSRQ2" ng-model="drpmodel" ng-change="cobchange()" required>

                                                                                <option value="0" selected="selected">Please select</option>
   										<option value="1" >Product</option>
   										<option value="2" ng-if="current_user_type=='2'">Auction</option>


										</select>
                                                                                 
									    </div>
                                                                    
                                                                    <div class="form-group">
										<label for="staticEmail">Brand</label>
										<select class="form-control" name="brand" ng-model="user2.brand" ng-change="sub(user2.brand)"  required>
											<option  ng-repeat="brandlists in brandlist" value="{{brandlists.id}}">{{brandlists.name}}</option>
										</select>
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.brand.$error.required"> Please Choose A Brand </span>
                                                                                
									</div>
									<div class="form-group">
										<label for="staticEmail">Category</label>
										<select class="form-control" name="category" ng-model="user2.cat_id"  required>
											<option  ng-repeat="categorylists in categorylist" value="{{categorylists.id}}">{{categorylists.name}}</option>
										</select>
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.category.$error.required"> Please Choose A Category </span>
									</div>
                                                                    
                                                                  <!--  <div class="form-group">
										<label for="staticEmail">Subcategory</label>
										<select class="form-control" name="subcategory" ng-model="user2.subcat_id" required>
											<option  value="">Please Select</option>  
                                                                                        
                                                                                       <option  ng-repeat="subcategorylists in subcategorylist" value="{{subcategorylists.subcat_id}}">{{subcategorylists.name}}</option>  
										</select>
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.subcategory.$error.required"> Please Choose A Subcategory </span>
									</div> -->
                                                                    
                                                                    <div class="form-group" ng-if="drpmodel=='2'">
										<label for="staticEmail">{{language.breslet}} Type</label>
										<select class="form-control" name="breslet_type" ng-model="user2.breslet_type" required>
											<option  value="">Please Select</option>  
                                                                                        
                                                                                       <option   value="M">{{language.metal}}</option>  
                                                                                        <option   value="L">{{language.leather}}</option>  
										</select>
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.breslet_type.$error.required"> Please Choose A Bracelet Type </span>
									</div>
                                                                    
                                                                    <div class="form-group" ng-if="drpmodel=='2'">
										<label for="staticEmail">Model Year</label>
										<select class="form-control" name="model_year" ng-model="user2.model_year"  required>
											<option  value="">Please Select</option>  
                                                                                      <option  ng-repeat="year in YearsList" value="{{year}}">{{year}}</option>    
                                                                                     <!--  <option  ng-repeat="subcategorylists in subcategorylist" value="{{subcategorylists.subcat_id}}">{{subcategorylists.name}}</option>  -->
										</select>
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.subcategory.$error.required"> Please Choose A Subcategory </span>
									</div>
									<div class="form-group">
										<label for="staticEmail">Currency</label>
										<select class="form-control" name="currency" ng-model="user2.currency"  required>
											<option  ng-repeat="currencylists in currencylist" value="{{currencylists.code}}">{{currencylists.name}}</option>
										</select>
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.currency.$error.required">Please Choose Currency</span>
									</div>
                                                                    <div class="form-group" ng-if="drpmodel=='2'">
										<label for="staticEmail">{{language.auction}} Date</label>
										<!--<input type="text" class="form-control" id="datepicker" value="" placeholder="" ng-model="user2.preferred_date" name="preferred_date" required>-->
                                                                                <!--<input type="text" class="form-control" ng-model="user2.preferred_date" date="{{listAuctionDtates}}" name="preferred_date" required datepicker />-->
<!--                                                                                <datepicker date-format="yyyy-MM-dd" selector="form-control" ng-click="getAuctionTime(user2.preferred_date)" date-enabled-dates="{{listAuctionDtates}}">-->
                                                                                    <datepicker date-format="yyyy-MM-dd" selector="form-control" ng-click="getAuctionTime(user2.preferred_date)" date-enabled-dates="{{listAuctionDtates}}">
                                                                                    
                                                                                
                                                                                    <input class="form-control"  ng-model="user2.preferred_date" name="preferred_date" required placeholder="Choose a date" readonly/>
                                                                                    <span style="color:Red" ng-show="addProductForm.preferred_date.$touched && addProductForm.preferred_date.$error.required"> This Field Is Required! </span>
                                                                                    <span style="color:Red" ng-show="addProductForm.preferred_date.$error.required"> </span>
                                                                                
                                                                        
                                                                            </datepicker>
									</div>
                                                                    <div>&nbsp;</div>
                                                                    <div class="form-group" ng-if="drpmodel=='2'">
										<label for="staticEmail"> {{language.auction}} Timing</label>
                                                                                <span>
                                                                                <div ng-repeat="time in timeslot" >
                                                                                 <div ng-if="time.status== 0">   
                                                                                  {{time.start_time}}&nbsp; To &nbsp;{{time.end_time}} &nbsp; <input class="input-field"  type="radio"  id="" value="{{time.id}}" ng-model="user2.time_slot_id" name="time_slot_id"  required>
                                                                                 </div>
                                                                                    <div class="ovr" ng-if="time.status== 1">   
                                                                                  {{time.start_time}}&nbsp; To &nbsp;{{time.end_time}} &nbsp; 
                                                                                 </div>
                                                                                </div>
                                                                                </span>
                                                                                <span style="color:Red" ng-show="addProductForm.name.$touched && addProductForm.name.$error.required"> This Field Is Required! </span>
                                                                                
                                                                                <span style="color:Red" ng-show="addProductForm.name.$dirty && addProductForm.name.$error.pattern">Only Letters Allowed</span>
									</div>
<!--                                                                    <div class="form-group">
										<label for="staticEmail"> Name</label>
										<input type="text" class="form-control" id="" value="" ng-model="user2.name" name="name" ng-pattern="/^[a-z A-Z]+$/" required>
                                                                                
                                                                                <span style="color:Red" ng-show="addProductForm.name.$touched && addProductForm.name.$error.required"> This Field Is Required! </span>
                                                                                
                                                                                <span style="color:Red" ng-show="addProductForm.name.$dirty && addProductForm.name.$error.pattern">Only Letters Allowed</span>
									</div>-->
								 	
                                                                    
									<div class="form-group">
										<label for="staticEmail">Description</label>
                                                                                <textarea type="text" class="form-control" id=""  ng-model="user2.description" name="description" required></textarea>
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.description.$error.required"> This Field Is Required! </span>
                                                                                
									</div>
									<div class="form-group">
										<label for="staticEmail">{{language.price}}</label>
										<input type="text" class="form-control" id="" value="" placeholder="" ng-model="user2.price" name="price" ng-pattern="/^[0-9]/" required>
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.price.$error.required">This Field Is Required! </span>
                                                                                
                                                                                <span style="color:Red" ng-show="addProductForm.price.$dirty && addProductForm.price.$error.pattern">Only Numbers Allowed</span>
									</div>
                                                                    
<!--                                                                    <div class="form-group">
										<label for="staticEmail">Quantity</label>
										<input type="text" class="form-control" id="" value="" placeholder="" ng-model="user2.quantity" ng-pattern="/^[0-9]/" name="quantity" required>
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.quantity.$error.required">This Field Is Required! </span>
                                                                                <span style="color:Red" ng-show="addProductForm.quantity.$dirty && addProductForm.quantity.$error.pattern">Only Numbers Allowed</span>
									</div>-->
                                      
                                                                        
                                                                    
                                                                 <!--    <label>Upload the file</label>
                                          <div>
                                             
                                             <div class="btn btn-default" ngf-select ng-model="user2.image" name="image" ngf-pattern="'image/*'"
                        ngf-accept="'image/*'"  ngf-min-height="100"
                        ngf-resize="{width: 100, height: 100}">Browse</div>
                        <img class="thumbnail_upload_img" ngf-thumbnail="user2.image"  style="width:50px;height:50px;">
                                        
                                      </div> -->
									
									<button class="btn btn-primary" ng-click="submitted=true">Next</button>
								</form>
							</div>
						</div>
					</div>
				</div>
 

			</div>
		</div>
	</section>
	