<section class="innerbody search-list">
		<div class="container">
			<!--<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="#">Home</a></li>
			    <li class="breadcrumb-item active">Watches</li>
			  </ol>
			</nav>-->
<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="details-left">
							<h4>{{cmsdetails.pagename}}</h4>
							
							<hr>
							
							<p>{{cmsdetails.pagedetails}}</p>
							
							<hr>
							
							
						</div>
					</div>
	
                </div>
</section>