<section class="innerbody">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4">
					<div class="left-bar mb-4">
						<div class="p-3 p-lg-4 align-items-center left-bar-top">
							<div class="user-image position-relative">
								<img src="images/user2.jpg" alt="" class="rounded-circle">
								<div class="edit-button position-absolute rounded-circle">
									<i class="ion-edit"></i>
								</div>
							</div>
							<div class="user-info">
								<h6 class="mb-0 mt-2 text-light">Christn Knight</h6>
								<p class="mb-0 location"><i class="ion-location"></i> California, CA, USA</p>
							</div>
						</div>
						<ul class="sidebar-menu list-unstyled mb-0">
							<li><a href=""><span><i class="ion-ios-person"></i></span> Profile</a></li>
							<li><a href=""><span><i class="fa-gavel"></i></span> Auction</a></li>
							<li><a href=""><span><i class="ion-heart"></i></span> Favorite/Wishlist</a></li>
							<li><a href=""><span><i class="ion-thumbsup"></i></span> Interested in List</a></li>
							<li><a href=""><span><i class="ion-android-watch"></i></span> Listed Products</a></li>
							<li><a href=""><span><i class="ion-location"></i></span> Filter by Location</a></li>
							<li><a href=""><span><i class="ion-android-notifications"></i></span> Notifications</a></li>
							<li class="active"><a href=""><span><i class="ion-ios-email"></i></span> Messages</a></li>
							<li><a href=""><span><i class="ion-android-settings"></i></span> Settings</a></li>
							<li><a href=""><span><i class="ion-log-out"></i></span> Log Out</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">Message Listing Details</h5>
					<div class="message-list p-4">
						<div class="row">
							<div class="col-md-12">
								
								<div class="media">
								  <img class="mr-3" src="images/message-img1.jpg" alt="Generic placeholder image">
								  <div class="media-body">
								    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>

								    <div class="media mt-3">
								      <div class="media-body">
								      <div class="message-bg mb-5">
								        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p></div>
								      </div>
								    </div>
								  </div>
								</div>
								
								<div class="form-group mt-4">
									<textarea class="form-control" placeholder="... Message Type Here"></textarea> 
								</div>
								
								<div class="form-group">
									<button class="btn btn-primary">SUBMIT</button>
								</div>

								
							</div>
						</div>
					</div>

					
				</div>
			</div>
		</div>
	</section>