
		<section class="banner">
			<div class="banner-search">
				<h1>Find Trusted Insulation professionals the EASY Way</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<div class="input-group has-feedback">
					<span class="input-group-addon"><i class="ion-location"></i></span>
			      <input type="text" class="form-control" placeholder="Enter Your Postcode">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button">Continue</button>
			      </span>
			    </div>
			</div>
		</section>
		<section class="section how-it-works">
			<div class="container">
				<h1>As EASY as 123</h1>
				<ul>
					<li>
						<img src="app/assets/images/how1.png" alt="" />
						<b>Tell Us What You Need</b>
						<span>Lorem Ipsum is simply dummy text of the printing</span>
					</li>
					<li class="arrow arrow-bottom">
						<img src="app/assets/images/arrow-bottom.png" alt="" />
					</li>
					<li>
						<img src="app/assets/images/how2.png" alt="" />
						<b>Get Instant Quotes from Insulation Professionals</b>
						<span>Lorem Ipsum is simply dummy text of the printing</span>
					</li>
					<li class="arrow arrow-top">
						<img src="app/assets/images/arrow-top.png" alt="" />
					</li>
					<li>
						<img src="app/assets/images/how3.png" alt="" />
						<b>Choose the best Quote for Your Job </b>
						<span>Lorem Ipsum is simply dummy text of the printing</span>
					</li>
				</ul>
			</div>
		</section>
		<section class="section popular-service">
			<div class="container">
				<h1>Why use InsulationEASY</h1>
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-6">
						<ul>
							<li>
								<div class="media">
								  <div class="media-left">
								    <a href="#">
								      <img class="media-object" src="app/assets/images/why-1.png" alt="...">
								    </a>
								  </div>
								  <div class="media-body">
								    <h4 class="media-heading">Trusted Insulation Professionals</h4>
								    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum</p>
								  </div>
								</div>
							</li>
							<li>
								<div class="media">
								  <div class="media-left">
								    <a href="#">
								      <img class="media-object" src="app/assets/images/why-3.png" alt="...">
								    </a>
								  </div>
								  <div class="media-body">
								    <h4 class="media-heading">24/7 Services</h4>
								    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum</p>
								  </div>
								</div>
							</li>
							<li>
								<div class="media">
								  <div class="media-left">
								    <a href="#">
								      <img class="media-object" src="app/assets/images/why-2.png" alt="...">
								    </a>
								  </div>
								  <div class="media-body">
								    <h4 class="media-heading">Affordable Price</h4>
								    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum</p>
								  </div>
								</div>
							</li>
							<li>
								<div class="media">
								  <div class="media-left">
								    <a href="#">
								      <img class="media-object" src="app/assets/images/why-4.png" alt="...">
								    </a>
								  </div>
								  <div class="media-body">
								    <h4 class="media-heading">Best Materials</h4>
								    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum</p>
								  </div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<img src="app/assets/images/sample.png" alt="" class="img-responsive"/>
					</div>
				</div>
			</div>
		</section>
		<section class="section popular-service">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="insultion-type" style="background: url('app/assets/images/type.png')">
							<div class="holder">
								<h3>Roof Insulation</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum</p>
								<button class="btn btn-default">Read More</button>
							</div>
							<div class="holder-default">
								<h2>Roof Insulation</h2>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="insultion-type" style="background: url('app/assets/images/type.png')">
							<div class="holder">
								<h3>Wall Insulation</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum</p>
								<button class="btn btn-default">Read More</button>
							</div>
							<div class="holder-default">
								<h2>Wall Insulation</h2>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="insultion-type" style="background: url('app/assets/images/type.png')">
							<div class="holder">
								<h3>Underfloor Insulation</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum</p>
								<button class="btn btn-default">Read More</button>
							</div>
							<div class="holder-default">
								<h2>Underfloor Insulation</h2>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="insultion-type" style="background: url('app/assets/images/type.png')">
							<div class="holder">
								<h3>Insulated Panels</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum</p>
								<button class="btn btn-default">Read More</button>
							</div>
							<div class="holder-default">
								<h2>Insulated Panels</h2>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="insultion-type" style="background: url('app/assets/images/type.png')">
							<div class="holder">
								<h3>Acoustic Insulation</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum</p>
								<button class="btn btn-default">Read More</button>
							</div>
							<div class="holder-default">
								<h2>Acoustic Insulation</h2>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="insultion-type" style="background: url('app/assets/images/type.png')">
							<div class="holder">
								<h3>Garage & Shed Insulation</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum</p>
								<button class="btn btn-default">Read More</button>
							</div>
							<div class="holder-default">
								<h2>Garage & Shed Insulation</h2>
							</div>
						</div>
					</div>				
				</div>
			</div>
		</section>
		<section class="section get-quote">
			<div class="container">
				<button class="btn btn-primary btn-lg">
					Get Quotes
				</button>
				  <form name="postjobb" class="edit_profile_form" ng-submit="postjob(user)" novalidate>
					<h1>Get Quotes</h1>
					 <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br/> Lorem Ipsum has been the industry's standard dummy text </h5>
					 <div ng-hide="isform1 ==1">
					 <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Title</label>
					    <div class="col-sm-8">
					      <!--<select name="" class="form-control">
					      	<option >Select</option>
					      </select> -->
					    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="title" ng-model="user.title" required>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Which suburb is the job in?</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="location" ng-model="user.location" required>
					    </div>
					  </div>

					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Price?</label>
					    <div class="col-sm-8">
					       <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="price" ng-model="user.price" required>
					    </div>
					  </div>

					   <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">When do you need the work to start?</label>
					    <div class="col-sm-8">
					        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="when_work" ng-model="user.when_work" required>
					    </div>
					  </div>

					   <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Describe what you need done.</label>
					    <div class="col-sm-8">
					        <textarea class="form-control" ng-model="user.description"></textarea>
					    </div>
					  </div>

					    <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">First Name</label>
					    <div class="col-sm-8">
					       <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="first_name" ng-model="user.first_name" required>
					    </div>
					  </div>

					   <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Last Name</label>
					    <div class="col-sm-8">
					       <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="last_name" ng-model="user.last_name" required>
					    </div>
					  </div>

					    <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Email Address</label>
					    <div class="col-sm-8">
					        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="" name="email" ng-model="user.email" required>
					    </div>
					  </div>

					    <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Contact No</label>
					    <div class="col-sm-8">
					        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" ng-model="user.phone"  name="phone" required>
					    </div>
					  </div>

					    <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Address</label>
					    <div class="col-sm-8">
					      <textarea class="form-control" ng-model="user.address"></textarea>
					    </div>
					  </div>

					   <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Zip</label>
					    <div class="col-sm-8">
					        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="zip" ng-model="user.zip" required>
					    </div>
					  </div>


					 <!-- <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">When do you need the work to start?</label>
					    <div class="col-sm-8">
					     	 <div class="cust-radio"><input type="checkbox" /><span></span> Emergency</div>
					     	 <div class="cust-radio"><input type="checkbox" /><span></span> ASAP, next few days</div>
					     	 <div class="cust-radio"><input type="checkbox" /><span></span> Next few weeks</div>
					     	 <div class="cust-radio"><input type="checkbox" /><span></span> I'm flexible</div>
					     	 <div class="cust-radio"><input type="checkbox" /><span></span> Other</div>
					    </div>
					  </div> -->
					<!--  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Residential or commercial job?</label>
					    <div class="col-sm-8">
					     	 <div class="cust-radio"><input type="checkbox" /><span></span> Residential</div>
					     	 <div class="cust-radio"><input type="checkbox" /><span></span> commercial</div>
					    </div>
					  </div> -->
					<!--  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Type of insulation needed</label>
					    <div class="col-sm-8">
					     	 <div class="cust-check"><input type="checkbox" /><span></span> Roof</div>
					     	 <div class="cust-check"><input type="checkbox" /><span></span> Wall</div>
					     	 <div class="cust-check"><input type="checkbox" /><span></span> Floor</div>
					     	 <div class="cust-check"><input type="checkbox" /><span></span> Others</div>
					    </div>
					  </div> -->
					  <!--<div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Preffered Insulation type</label>
					    <div class="col-sm-8">
					     	 <div class="cust-radio"><input type="checkbox" /><span></span> Batts </div>
					     	 <div class="cust-radio"><input type="checkbox" /><span></span> Blown in </div>
					     	 <div class="cust-radio"><input type="checkbox" /><span></span> Wool </div>
					     	 <div class="cust-radio"><input type="checkbox" /><span></span> Other </div>
					     	 <div class="cust-radio"><input type="checkbox" /><span></span> Not sure </div>
					    </div>
					  </div>-->
					  <div class="form-group form-button">
					  		<!-- <button  class="btn btn-primary pull-right" >CONTINUE</button> -->
					  		<span ng-click="form1()" class="btn btn-primary pull-right">CONTINUE</span>
					  		
					  </div> 
					  </div>

					  <div ng-show="isform1 ==1">

					   <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Category</label>
					    <div class="col-sm-8">
					        <select class="form-control" name="category" ng-model="user.code" ng-change="sub(user.code)" required>
                    
                   <option  ng-repeat="categorylists in categorylistHome" value="{{categorylists.id}}">{{categorylists.name}}</option>  
                </select>
					    </div>
					  </div>


					   <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Sub Category</label>
					    <div class="col-sm-8">
					        <select class="form-control" name="subcategory" ng-change="question(user.code,user.subc)" ng-model="user.subc">
                                    <option  value="">Please Select</option>  
                                    
                                   <option  ng-repeat="subcategorylists in subcategorylist" value="{{subcategorylists.subcat_id}}">{{subcategorylists.name}}</option>  
                                </select>
					    </div>
					  </div>


					  <div class="col-md-12">
    									<h3>Question {{questionslist1}}</h3>
    								</div>

    								<div class="col-md-12 questionlist" ng-repeat="(key, questionslists) in questionslist">
    									<div class="form-group">
										    <label for="exampleInputEmail1">{{questionslists.question}}</label>
   <input type="hidden" ng-value="questionslists.question" name="user.questionslists.questions_a[key]" ng-model="user.questionslists.questions_a[key]">
									    </div>
                                       <div class="form-group" ng-repeat="ans in questionslists.options">
                                                                           
										     <input type="radio" name="user.questionslists.answer[{{key}}]" ng-value="ans"  ng-model="user.questionslists.answer[key]">{{ans}}
									    </div>
    								</div>
    								<div class="col-md-12">
    									  <div  class="form-group form-button">
					  		 <button  class="btn btn-primary pull-right" >CONTINUE</button>
					  		
					  		
					  </div>
					  </div>


					  </div>

				</form>
			</div>
		</section>
		<section class="section what-have">
			<div class="container">
				<ul>
					<li>
						<i class="fa fa-thumbs-up"></i>
						<b>100%</b>
						<p>Quality</p>
					</li>
					<li>
						<i class="fa fa-group"></i>
						<b>2500+</b>
						<p>People Working</p>
					</li>
					<li>
						<i class="fa fa-calendar-o"></i>
						<b>5 years</b>
						<p>Years Experience</p>
					</li>
					<li>
						<i class="fa fa-smile-o"></i>
						<b>500+</b>
						<p>Happy Smiles</p>
					</li>
				</ul>
			</div>
		</section>
		<section class="section client-say">
			<div class="container">
				<h1>What Our Client Say</h1>
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				    <div class="item active">
				      	<div class="media">
							  <div class="media-left">
							    <a href="#" style="background: url('app/assets/images/client.png')">
							      
							    </a>
							  </div>
							  <div class="media-body">
							   <p>
							   	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into 
							   </p>
							   <footer>- Roger Parker</footer>
							  </div>
							</div>
				    </div>
				    <div class="item">
				      	<div class="media">
							  <div class="media-left">
							    <a href="#" style="background: url('app/assets/images/client.png')">
							      
							    </a>
							  </div>
							  <div class="media-body">
							   <p>
							   	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into 
							   </p>
							   <footer>- Roger Parker</footer>
							  </div>
							</div>
				    </div>
				    <div class="item">
				      	<div class="media">
							  <div class="media-left">
							    <a href="#" style="background: url('app/assets/images/client.png')">
							      
							    </a>
							  </div>
							  <div class="media-body">
							   <p>
							   	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into 
							   </p>
							   <footer>- Roger Parker</footer>
							  </div>
							</div>
				    </div>
				  </div>
				</div>
			</div>
		</section>
		<section class="section download-app">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-sm-4">
						<img src="app/assets/images/download-app.png" alt="" class="app-screen"/>
					</div>
					<div class="col-lg-7 col-lg-offset-1 col-sm-6 col-sm-offset-2 ">
						<h2>Insulation Professional?</h2>
						<p>
							 Download the app & get more business TODAY!
						</p>
						<button class="btn btn-outline"><i class="ion-social-android"></i> available on <br/>Google Store</button>
						<button class="btn btn-outline"><i class="ion-social-apple"></i> available on <br/>App Store</button>
					</div>
				</div>
			</div>
		</section>
		<section class="section article">
			<div class="container">
				<h1>Featured articles</h1>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<h4>laboris nisi ut aliquip <span>12 jul 2017</span></h4>
						<div class="article-img-box" style="background: url('app/assets/images/type.png')"></div>
						
						<p>laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
						<a href="">Read more <i class="ion-ios-arrow-thin-right"></i></a>
					</div>
					<div class="col-md-4 col-sm-6">
						<h4>laboris nisi ut aliquip <span>12 jul 2017</span></h4>
						<div class="article-img-box" style="background: url('app/assets/images/type.png')"></div>
						
						<p>laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
						<a href="">Read more <i class="ion-ios-arrow-thin-right"></i></a>
					</div>
					<div class="col-md-4 col-sm-6">
						<h4>laboris nisi ut aliquip <span>12 jul 2017</span></h4>
						<div class="article-img-box" style="background: url('app/assets/images/type.png')"></div>
						
						<p>laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
						<a href="">Read more <i class="ion-ios-arrow-thin-right"></i></a>
					</div>
				</div>
			</div>
		</section>
		