<section class="innerbody" ng-init="loyaltydetails();">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html'" ></div>
            <div class="col-lg-9 col-md-8">
                <h5 class="common-title p-3 mb-0">My Loyalty Details</h5>
                <div class="edit-pro p-3">

                    <h4 style="text-align: center;" ng-if="exists == 0">No Records Found.</h4>

                    <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <th scope="col">Pay Amount</th>
                                <th scope="col">Point receive</th>
                                <th scope="col">Point add</th>
                                <th scope="col">Point status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="loyaltyList in loyaltyLists">
                                
                                <td>{{loyaltyList.pay_amount}}</td>
                                <td>{{loyaltyList.point}}</td>
                                <td>{{loyaltyList.add_date}}</td>
                                <td ng-if="loyaltyList.type== 1">Credit </td>
                                <td ng-if="loyaltyList.type== 0">Debit </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>