<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Welcome</title>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600" rel="stylesheet">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container">
		  <a class="navbar-brand" href="#">
	    		<img src="images/logo.png" alt="" />
	  	  </a>
		  <div class="input-group col-lg-6 ml-auto">
			  <input type="text" class="form-control" placeholder="Search your product" aria-label="Recipient's username" aria-describedby="basic-addon2">
			  <div class="input-group-append">
			    <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
			  </div>
			</div>
	  </div>
	</nav>
	<nav class="navbar navbar-expand-lg navbar-light bg-gary">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
		    	<li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Listings 
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		        	  
						<ul>
							<li><a class="dropdown-item child" href="#">Brands</a>
								<div class="dropdown-menu">
									<h5>BRANDS</h5>
									<ul >
										<li><a class="dropdown-item" href="#">Dior</a></li>
										<li><a class="dropdown-item" href="#">Omega</a></li>
										<li><a class="dropdown-item" href="#">Rolex</a></li>
										<li><a class="dropdown-item" href="#">Chopard</a></li>
									</ul>
								</div>
							</li>
							<li><a class="dropdown-item" href="#">Services</a></li>
							<li><a class="dropdown-item" href="#">Shops</a></li>
							<li><a class="dropdown-item" href="#">Offers</a></li>
						</ul>
		        </div>
		      </li>                                     
		      <li class="nav-item">
		        <a class="nav-link" href="#">Your GMT24</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Auction</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Today’s Deals</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Gift Cards</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Sell</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Buy</a>
		      </li>
		    </ul>
			 <ul class="navbar-nav ml-auto">
			 	<li class="nav-item">
		        <a class="nav-link user-afterlogin" href="#"><img src="images/user.jpg" alt="" /> Welcome, Christn</a>
		      </li>
		    	<li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          USA (USD) <img src="images/map.png" alt="" />
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
		          <a class="dropdown-item" href="#">Brands</a>
		          <a class="dropdown-item" href="#">Services</a>
		          <a class="dropdown-item" href="#">Shops</a>
		          <a class="dropdown-item" href="#">Offers</a>
		           
		        </div>
		      </li>                                     
		      
		     
		    </ul>
		  </div>
		</div>
	</nav>
	<section class="innerbody">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4">
					<div class="left-bar mb-4">
						<div class="p-3 p-lg-4 align-items-center left-bar-top">
							<div class="user-image position-relative">
								<img src="images/user2.jpg" alt="" class="rounded-circle">
								<div class="edit-button position-absolute rounded-circle">
									<i class="ion-edit"></i>
								</div>
							</div>
							<div class="user-info">
								<h6 class="mb-0 mt-2 text-light">Christn Knight</h6>
								<p class="mb-0 location"><i class="ion-location"></i> California, CA, USA</p>
							</div>
						</div>
						<ul class="sidebar-menu list-unstyled mb-0">
							<li><a href=""><span><i class="ion-ios-person"></i></span> Profile</a></li>
							<li><a href=""><span><i class="fa-gavel"></i></span> Auction</a></li>
							<li><a href=""><span><i class="ion-heart"></i></span> Favorite/Wishlist</a></li>
							<li><a href=""><span><i class="ion-thumbsup"></i></span> Interested in List</a></li>
							<li><a href=""><span><i class="ion-android-watch"></i></span> Listed Products</a></li>
							<li><a href=""><span><i class="ion-location"></i></span> Filter by Location</a></li>
							<li><a href=""><span><i class="ion-android-notifications"></i></span> Notifications</a></li>
							<li class="active"><a href=""><span><i class="ion-ios-email"></i></span> Messages</a></li>
							<li><a href=""><span><i class="ion-android-settings"></i></span> Settings</a></li>
							<li><a href=""><span><i class="ion-log-out"></i></span> Log Out</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">Message Listing Details</h5>
					<div class="message-list p-4">
						<div class="row">
							<div class="col-md-12">
								
								<div class="media">
								  <img class="mr-3" src="images/message-img1.jpg" alt="Generic placeholder image">
								  <div class="media-body">
								    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>

								    <div class="media mt-3">
								      <div class="media-body">
								      <div class="message-bg mb-5">
								        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p></div>
								      </div>
								    </div>
								  </div>
								</div>
								
								<div class="form-group mt-4">
									<textarea class="form-control" placeholder="... Message Type Here"></textarea> 
								</div>
								
								<div class="form-group">
									<button class="btn btn-primary">SUBMIT</button>
								</div>

								
							</div>
						</div>
					</div>

					
				</div>
			</div>
		</div>
	</section>
		<section class="footer-top">
		<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-3 border-right">
				<h4>Contact Information</h4>
				<p>123 M.R Soroni Park Street Kolkata 700055, India </p>
				<p>898 456 1223 | 456 231 789</p>
				<p>company@exmple.com</p>
			</div>
			<div class="col-md-6 col-lg-3 border-right">
				<h4>Newsletter</h4>
				<p>Lorem Ipsum is simply dummy
				and type setting industry. </p>
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Enter Your Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
				  <div class="input-group-append">
				    <button class="btn" type="button"><i class="fa fa-envelope"></i></button>
				  </div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 border-right">
				<h4>Follow Us</h4>
				<p>Lorem Ipsum is simply dummy
				and type setting industry. </p>
				<div class="social justify-content-between">
					<a href="" class="fa fa-facebook"></a>
					<a href="" class="fa fa-twitter"></a>
					<a href="" class="fa fa-instagram"></a>
					<a href="" class="fa fa-pinterest"></a>
					<a href="" class="fa fa-google-plus"></a>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 download">
				<h4>Download App</h4>
				<button class="btn btn-outline-primary"><i class="fa fa-apple"></i><span>Download from App Store</span></button>
				<button class="btn btn-outline-primary mt-3"><i><img src="images/new-collection/play.png" alt="" /></i><span>Download from App Store</span></button>
			</div>
		</div>
		</div>
	</section>
	<section class="footer-bottom py-2">
		<ul class="nav justify-content-center">
		  <li class="nav-item">
		    <a class="nav-link" href="#">About us</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Legal details</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Data Privacy Policy</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">FAQ / Help</a>
		  </li>
		</ul>
		<span>copyright © 2018 GMT24 All right reserved.</span>
	</section>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
	$('.grid-list li').on('click',function(e) {
    if ($(this).hasClass('grid')) {
        $('.list-item').removeClass('list').addClass('grid');
    }
    else if($(this).hasClass('list')) {
        $('.list-item').removeClass('grid').addClass('list');
    }
    //alert('ok');
	});
</script>
</html>