
	<section class="innerbody">
		<div class="container">
			<div class="row">
				<!--<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">{{language.enter_your}} OTP</h5>
					<div class="edit-pro p-3">
						<div class="row">
							<div class="col-lg-7 col-md-12">
								<form name="change_pass" ng-submit="tomobileverifying1(user)" novalidate>
									
									<div class="form-group">
										<label for="staticEmail">{{language.your}} {{language.mobile_number}}</label>
                                                                                <input tepe="text" class="form-control" name="mobile" ng-model="user.mobileno" required>
                                                                                 <input tepe="hidden" class="form-control" name="mobile" ng-model="user.code" required>
										<!--<input type="text"  id="" value=""  name="otp" ng-model="user.otp" required>-->
									</div>
                                                                    
                                                                        <div class="form-group">
										<label for="staticEmail">{{language.enter_your}} OTP</label>
										<input type="text" class="form-control" id="" value=""  name="otp" ng-model="user.otp" required>
									</div>
                                                                         
									<button class="btn btn-primary" ng-disabled="change_pass.$invalid">{{language.verify}}</button>
                                                                        <button class="btn btn-primary" ng-click="resend()">{{language.resend}} OTP</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		