
	<section class="innerbody">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">Edit Profile</h5>
					<div class="edit-pro p-3">
						<div class="row">
							<div class="col-lg-7 col-md-12">
								<form name="myaccountForm" ng-submit="updateProfile(user)" novalidate>
									<div class="form-group" ng-if="current_user_type=='2'">
										<label for="staticEmail">Shop or individual</label>
										<select class="form-control" ng-model="user.business_type" name="business_type">
											<option value="1">Individual</option>
                                                                                        <option value="2">Shop</option>
										</select>
									</div>
									<div class="form-group">
										<label for="staticEmail">{{language.first_name}}</label>
										<input type="text" class="form-control" id="" value="" placeholder="" ng-model="user.fname" name="fname" required>
									</div>
                                                                    <div class="form-group">
										<label for="staticEmail">{{language.last_name}}</label>
										<input type="text" class="form-control" id="" value="" placeholder="" ng-model="user.lname" name="lname" required>
									</div>
									<div class="form-group">
										<label for="staticEmail">{{language.gender}}</label>
                                                                                
                                                                                    <select class="form-control" ng-model="user.gender" name="gender">
                                                                                    <option value="" selected>Please Select Your gender</option>
                                                                                    <option value="Male">{{language.male}}</option>
											<option value="Female">{{language.female}}</option>
										</select>  
									</div>
									<div class="form-group">
										<label for="staticEmail">{{language.mobile_number}}</label>
										<input type="text" class="form-control" id="" value="" placeholder="9831635919" ng-model="user.phone" name="phone" required>
									</div>
									<div class="form-group">
										<label for="staticEmail">{{language.email}}</label>
										<input type="text" class="form-control" id="" value="" placeholder="christnknight@gmail.com" ng-model="user.email" name="email" required>
									</div>
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    <div class="form-group">
										<label for="staticEmail">Country</label>
										<select class="form-control" name="country" ng-model="user.country" ng-change="state(user.country)"  required>
                                                                                    <option value="">Please select a Country</option>
											<option  ng-repeat="countrylists in countrylist" value="{{countrylists.id}}">{{countrylists.name}}</option>
										</select>
                                                                                
                                                                                
									</div>
                                                                    
                                                                    
                                                                    <div class="form-group">
										<label for="staticEmail">State</label>
                                                                                
                                                                                   <select class="form-control" name="state" ng-model="user.state" ng-change="city(user.state)"  required>
                                                                                    <option value="">Please select a state</option>
											<option  ng-repeat="statelists in statelist" value="{{statelists.id}}">{{statelists.name}}</option>
										</select> 
                                                                    </div>
                                                                    
                                                                    
                                                                    
                                                                    <div class="form-group">
										<label for="staticEmail">City</label>
                                                                                
                                                                                    <select class="form-control" name="state" ng-model="user.city"   required>
                                                                                    <option value="">Please select a city</option>
											<option  ng-repeat="citylists in citylist" value="{{citylists.id}}">{{citylists.name}}</option>
										</select>  
                                                                    </div>
                                                                    
                                                                    
<!--									<div class="form-group">
										<label for="staticEmail">Address</label>
										<input type="text" class="form-control" id="" value="" placeholder="California, CA, United States" ng-model="user.address" name="address" required>
									</div>-->
                                                                    <div class="form-group">
										<label for="staticEmail">IBAN Number</label>
										<input type="text" class="form-control" id="" value="" placeholder="IBAN Number" ng-model="user.ibanno" name="ibanno" required>
									</div>
                                                                    <div class="form-group">
										<label for="staticEmail">Bank Name</label>
										<input type="text" class="form-control" id="" value="" placeholder="Bank Name" ng-model="user.bankname" name="bankname" required>
									</div>
                                                                   <div class="form-group">
										<label for="staticEmail">Preferred Language</label>
										<select class="form-control" ng-model="user.language_preference" name="language_preference">
                                                                                    <option value="" selected>Please Select Your Language</option>
											<option value="Arabic">Arabic</option>
											<option value="English">English</option>
										</select>
									</div>

                                                                        <div class="form-group">
										<label for="staticEmail">Preferred Country</label>
										<select class="form-control" name="country_preference" ng-model="user.country_preference" required>
                                                                                    <option value="">Please select prefer Country</option>
											<option  ng-repeat="countrylists in countrylist" value="{{countrylists.id}}">{{countrylists.name}}</option>
										</select>
                                                                                
                                                                                
									</div>


                                                                        <div class="form-group">
										<label for="staticEmail">Preferred Currency</label>
										<select class="form-control" name="currency_preference" ng-model="user.currency_preference"  required>
										<option value="">Please select prefer Currency</option>	
                                                                                    <option  ng-repeat="currencylists in currencylist" value="{{currencylists.code}}">{{currencylists.name}}</option>
										</select>
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.currency.$error.required">Please Choose Currency</span>
									</div>





                                          <!--   hidden by puja as on 12.3.2018    -->              
                                                                  <!--   <div class="form-group" ng-if="current_user_type=='2'">
										<label for="staticEmail">Secret Key</label>
										<input type="text" class="form-control" id="" value="" placeholder="" ng-model="user.secret_key" name="secret_key" required>
									</div>
                                                                    
                                                                    <div class="form-group" ng-if="current_user_type=='2'">
										<label for="staticEmail">Publish Key</label>
										<input type="text" class="form-control" id="" value="" placeholder="" ng-model="user.publish_key" name="publish_key" required>
									</div> -->

								<!-- 	hide section end as on 12.3.2018 -->
<!--									<div class="form-group">
										<label for="staticEmail">Civil ID Attachment</label>
										<input type="text" class="form-control" id="" value="" placeholder="ED5846L">
									</div>-->
                                                                
                                                                <!------------------------------->
                                                                <div class="form-group">
                                                                    <label for="staticEmail">Civil ID Attachment1</label>
                                                                <div class="btn btn-default" ngf-select ng-model="user.civilid1" name="civilid1" ngf-pattern="'image/*'"
                        ngf-accept="'image/*'"  ngf-min-height="100"  required>Browse</div>
                                                      <!--<span style="color:Red" ng-if="addProductForm.movement.$error.required && !user2.image" >Upload Image with Minimum Height:420 And Minimum Width:420</span>-->
                                                      
                        <img class="thumbnail_upload_img" ngf-thumbnail="user.civilid1"  style="width:50px;height:50px;">
                        </div>
                                                         <div class="form-group">
                                                                    <label for="staticEmail">Civil ID Attachment2</label>
                                                                <div class="btn btn-default" ngf-select ng-model="user.civilid2" name="civilid2" ngf-pattern="'image/*'"
                        ngf-accept="'image/*'"  ngf-min-height="100"  required>Browse</div>
                                                      <!--<span style="color:Red" ng-if="addProductForm.movement.$error.required && !user2.image" >Upload Image with Minimum Height:420 And Minimum Width:420</span>-->
                                                      
                        <img class="thumbnail_upload_img" ngf-thumbnail="user.civilid2"  style="width:50px;height:50px;">
                        </div>       
                                                                <!------------------------------->
									<button class="btn btn-primary">Save Changes</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		